<% include partials/top-nav.ejs %>
        <div class="page-banner" style="background-image: url('/assets/img/banner-1.png')">
        </div>
        <header>
            <h1>DEMOSA</h1>
            
        </header>
        <main>
            
        </main>
    </body>
</html>
