<% include partials/top-nav.ejs %>
        <div class="page-banner" style="background-image: url('/assets/img/banner-1.png')">
        </div>
        <header>
                <% include partials/slideshow.ejs %>
            
        </header>
        <main>
            <div id = "history" class="content-left">
                <h2>Objectives</h2>
                <img src="#" alt="image">
                <div class="content">
                <p>The objectives of the Association are:</p>
                <ul>
<li>To provide opportunities for social intercourse between past and present students of the College;</li>
<li>To facilitate and maintain contact among all the past and present students and teachers of the College;</li>
<li>To organize and carry out annual activities of its members on the premises of the College at Zaria or elsewhere;</li>
<li>To award scholarships and decorations to deserving students of the College and members of staff of the College;</li>
<li>To present trophies for competition among the present students of the College;</li>
<li>To raise funds, call for and accept donations for the purpose of carrying out any of all the objectives of the Association;</li>
<li>To establish branches or other organizations in furtherance of the objectives of the Association;</li>
<li>To show interest and participate in any affair that will enhance the reputation of and immortalize the College.</li>
                </ul>
            </div>
            </div>
            <div id = "Vision" class="content-right">
                    <h2>Vision</h2>
                <img src=# alt="image">
                <p class="content">Hello main gate</p>
            </div>
            <div id = "Activities" class="content-left">
                    <h2>Activities</h2>
                <img src=# alt="image">
                <p class="content">Hello main gate</p>
            </div>
        </main>
        <% include partials/footer.ejs %>
        <script src="assets/js/slideshow.js"></script>
    </body>
</html>
